// src/layouts/MainLayout/MainLayout.scss
@import '../../styles/variables';

.main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%; // Явно вказуємо ширину
    max-width: 100%; // Забороняємо бути ширшим за екран
    overflow-x: hidden; // Забороняємо горизонтальну прокрутку для самого макета
}

.main-content {
    flex-grow: 1;
    display: flex; // Залишаємо flex для загальної структури, хоча для позиціонування карти він вже не головний
    flex-direction: column;
    position: relative; // <--- ДОДАНО: Встановлює контекст для абсолютного позиціонування
    padding-top: $header-height;
    // overflow: hidden; // Можливо, потрібно буде повернути, якщо карта вилазить
}