// client/src/components/Footer/Footer.scss
@import '../../styles/variables';

.app-footer {
    background-color: $primary-dark;
    color: $text-muted;
    padding: $spacing-md $spacing-lg;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: auto;
    width: 100%;

    .footer-content {
        max-width: $container-max-width;
        margin: 0 auto;
        display: flex;
        justify-content: center; 
        align-items: center;
        font-size: 0.85em;
    }
}