$primary-color: #3498db;
$secondary-color: #2ecc71;
$background-color: #f4f7f6;
$container-bg-color: #ffffff;
$text-color: #333;
$border-color: #ccc;
$error-color: #e74c3c;
$input-focus-border: darken($primary-color, 10%);

$table-header-bg: #f8f9fa;
$table-border-color: #dee2e6;
$success-color: #28a745;
$danger-color: #dc3545;

$modal-bg-color: #ffffff;
$overlay-bg-color: rgba(0, 0, 0, 0.75);
$success-color: #2ecc71; // Зелений для успіху